<div class="row noheader">
	<div class="span12">
	</div>
</div>

<%-	partial('partials/teil', { 'teil' : item, 'mode' : 'success' }) %>

<%- partial('partials/buchung', { 'buchung' : booking }) %>

<%- partial('partials/balance', { 'balance' : account.balance() }) %>