<%- partial('partials/booking', { 'booking' : booking }) %>

<%- partial('partials/balance', { 'balance' : balance }) %>


<div class="row">
	<div class="span12" style="text-align: center;">
		<p>
			<a class="btn btn-large btn-success" href="/withdraw">
				<i class="icon-ok icon-white"></i>
				OK
			</a>
		</p>
	</div>
</div>