<%
	var posneg = (balance < 0) ? 'negative' : 'positive';
%>

<div class="row balance">
	<div class="span12">
		<a class="well" href="/account">
			<span class="balance <%= posneg %>"><%= format.money(balance / 100) %></span>
		</a>
	</div>
</div>

